In [1]:
import pandas as pd
import numpy as np

In [2]:
nn_model = pd.read_csv('../Result/nn_promo_weight_year_2.csv')

In [3]:
lgm_model = pd.read_csv('../Result/modified_weight_promo_year_2.csv')

In [4]:
lgm_model.head(5)

          id  unit_sales
0  125497040      0.2022
1  125497041      0.3617
2  125497042      0.0000
3  125497043      1.1050
4  125497044      1.8588

In [5]:
nn_lgm = nn_model['unit_sales']+lgm_model['unit_sales']

In [6]:
nn_lgm = nn_lgm/2

In [11]:
lgm_model['unit_sales'] = nn_lgm

In [12]:
lgm_model.to_csv('../Result/nn_lgm_22_1.csv', float_format='%.4f', index=None)

In [10]:
nn_lgm = 0.35*nn_model['unit_sales']+0.65*lgm_model['unit_sales']