In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
train = pd.read_csv('../Data/train_set_short.csv',usecols=[1,2,3,4,5])
test  = pd.read_csv('../Data/test.csv')

In [37]:
train.head(5)

         date  store_nbr  item_nbr  unit_sales  onpromotion
0  2017-06-01          1     99197         3.0        False
1  2017-06-01          1    103520         2.0        False
2  2017-06-01          1    105574        11.0        False
3  2017-06-01          1    105575         9.0        False
4  2017-06-01          1    105577         2.0        False

In [6]:
test.head(5)

          id        date  store_nbr  item_nbr  onpromotion
0  125497040  2017-08-16          1     96995        False
1  125497041  2017-08-16          1     99197        False
2  125497042  2017-08-16          1    103501        False
3  125497043  2017-08-16          1    103520        False
4  125497044  2017-08-16          1    103665        False

In [27]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2960296 entries, 0 to 2960295
Data columns (total 6 columns):
id             int64
date           datetime64[ns]
store_nbr      int64
item_nbr       int64
unit_sales     float64
onpromotion    bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(3)
memory usage: 115.7 MB

In [47]:
train.date = pd.to_datetime(train.date) #changing date object to date_time
train.set_index('date',inplace=True)

In [48]:
train.head(5)

          unit_sales  onpromotion
item_nbr
99197            3.0        False
103520           2.0        False
105574          11.0        False
105575           9.0        False
105577           2.0        False

In [ ]:
train.plot()